<a href="{assemble route=fast_add_pomodoros_increase project_id=$active_project->getId() ticket_id=$active_ticket->getTicketId()}" class="start_pomodoro tools" ><img src="{image_url name=icons/play.png module=fast_add }" style="display: none;"/></a>