#pomodoro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent url(b.png) repeat;
    z-index: 99;
}

#pomodoro {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

    #pomodoro .content {
        background-color: #FFF;
        border: 2px solid #555;
        padding: 5px 10px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        margin: 5px;
    }
    
    #pomodoro .content .timer {
        display: block;
        font: normal small-caps bold 1em Arial, sans-serif;
    }
    
    #pomodoro .content ul.actions {
        text-align: right;
        list-style-type: none;
        padding: 5px 0;
    }
    
    #pomodoro .content ul.actions li {
        display: inline;
    }