

* {
	margin: 0px;
	padding: 0px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
 
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0 ;
    vertical-align: baseline;
}


body {
	   background: repeat scroll 0 0 #F1F1F1;
	text-align: center;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #333;
	min-width: 320px;
}


#wrapper {
	background: #FFF;
	margin:  5px auto;
	text-align: left;
	max-width: 560px;
	padding: 0 5px;
}


a {
    -moz-border-radius: 2px 2px 2px 2px;
    background-repeat: no-repeat;
    color: #1A6A96;
    text-decoration: none;
}

a:active {
    background-color: #A3C3D5;
    color: #000000;
}

img {
	border: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.odd > td, li.odd {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px dotted #DDDDDD;
}
.even > td, li.even {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px dotted #DDDDDD;
}
div.odd {
    border-bottom: 1px dotted #BBBBBB;
}
div.even {
    background-color: #FAFAFA;
    border-bottom: 1px dotted #BBBBBB;
}

div.ui-dialog 
{
	margin-top: 30px;
}

.quick_jump table td {
    padding: 5px;
}

#footer {
	text-align: center;
	border-top: 2px solid #ddd;
	padding-top: 10px;
}

#footer #benchmark {
	margin-top:  10px;
}

#header h1 {
	 font-size: 18px;
	color: #404040;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left !important;
	padding: 5px 5px;	
	float: right;
}
.content {
	line-height:150%;
	margin:16px 0;
}
.notice {
	text-align: center;
	padding: 15px 0px;
}

form {
	padding: 5px 8px;
}

.clear {
	clear: both;
}

.block {
	display:block;
}

.col {
	width: 100px;
	float: left;
	padding: 0px 20px 0px 0px;
}



form .ctrlHolder {
	padding: 0px 0px 10px 0px;
}

form .ctrlHolder label {
	display: block;
	padding-bottom: 3px;
}

form .ctrlHolder .errorField {
	float: right;
	font-weight: normal !important;
	color: red;
	font-size: 10px;
}

form .ctrlHolder .errorField strong {
	font-weight: normal !important;
}

form .ctrlHolder label em {
	color: red;
}

form .ctrlHolder .details {
	color: #999;
	font-size: 11px;
	padding-top: 5px;
}

.content_container {
	margin-top: 3px;
}

.mceEditorIframe {
	background: #FFF;
}

.mceToolbarContainer,
.mceStatusbarBottom {
	background-color: transparent !important;
}

.mceStatusbarBottom br {
	display: none;
}

input, select {
	border: 1px solid #ccc;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	padding: 3px 5px;
	width: 230px;
}

select {
	padding: 1px;
}

.error input,
.error select,
.error textarea,
.error .mceEditorIframe {
	background: #fee8eb;
}

.option a {
	margin-right: 8px;
}

.option input {
	height: 1em;
	height: 1em;
}

#errorMsg {
	background: #fee8eb;
	border: 1px solid #CF4454;
	padding: 5px 10px;
	margin-bottom: 10px;
	font-size: 11px;
}

#errorMsg ol {
	margin-top: 5px;
	margin-left: 15px;
	padding-left: 15px;
}

body:first-of-type input[type=file] {
	border: none;
}

.ticket_data,
.buttonHolder {
	border-top: 1px solid #eee;
	padding-top: 15px;
	margin-top: 10px;
}

.ticket_data input {
	width: 250px;
}

.focused input,
.focused selected {
	border: 1px solid #555;
}

textarea#fast_add_name  {
	width: 240px;
	padding: 3px 5px;
	height: 50px;
}

textarea.editor, #ticketBody, .form_full_view #notes  {
	height:100px;
	/*width:98% !important;*/
	width: 254px !important;
	padding: 3px;
}



.ticket_data textarea {
	width: 250px;
	padding: 3px 5px;
	height: 100px;
}

.buttonHolder button {
	padding: 4px 15px;
}

span.captcha img.captcha {
  border: 1px solid #ccc;
  float: left;
  margin-right: 10px;
}

span.captcha input {
  margin-top: 5px;
  width: 50px;
}

      
.flash {
	cursor:pointer;
	display:block;
	font-size:11px;
	font-weight:bold;
	overflow:hidden;
	padding: 10px !important;
	margin: 10px 0;
}

#success {
	background: #DFEDE0;
	border: 1px solid #207A29;
	color: #207A29;
}

a.dp-choose-date {
	background:transparent url(../images/calendar.png) no-repeat scroll 0 0!important;
}

.select_date {
	clear: both!important;
}

#fast_add_ticket_body{
	height:100px;
	width:250px !important;
}

#priority {
	width: 100px;
}

#ticketDueOn {
	width: 80px!important;
	float: left;
}

a.dp-choose-date {
	float: right!important;
}
.wide {
	width: 120px!important;
}

.extrawide {
	width: 240px!important;
}



div.grippie {
	background:#EEEEEE url(../images/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
	}
	.resizable-textarea textarea {
	display:block;
	margin-bottom:0pt;
}


.select_asignees_inline_widget {
}
.select_asignees_inline_widget_responsible_block {
font-size:10px;
padding:0;
top:-20px;
}
.select_asignees_inline_widget .company_name {
background:#F9F9F9 none repeat scroll 0 0;
border-bottom:1px dotted #F1F1F1;
font-size:11px !important;
font-weight:normal !important;
padding-top:2px !important;
}
.select_asignees_inline_widget .company_user {
color:#666666 !important;
display:inline !important;
font-size:10px;
font-weight:normal !important;
margin-right:10px !important;
}
.select_asignees_inline_widget .company_users {
overflow:hidden;
padding:0 0 3px;
}
.select_asignees_inline_widget .company_users table {
margin-left:16px;
width:auto !important;
}
.select_asignees_inline_widget input {
margin:0 !important;
vertical-align:text-bottom;
}
.select_asignees_inline_widget .company_name input {
margin-right:3px !important;
}
.select_asignees_inline_widget .company_user span.responsible_setter {
cursor:pointer;
}
.select_asignees_inline_widget .company_user span, .select_asignees_inline_widget .company_name span {
margin-left:0;
padding:1px 2px;
}
.select_asignees_inline_widget .company_user span.responsible {
background:#CCCCCC none repeat scroll 0 0;
}

.master_checkbox, .slave_checkbox, .checkbox input, input.input_checkbox, input.input_radio {
	background:transparent none repeat scroll 0 0;
	border:0 none !important;
	margin:0 !important;
	padding:0 !important;
	vertical-align:text-bottom;
	width:auto !important;
}





/*******************************************************************************
    PAGINATION
*******************************************************************************/

.pagination {
  background: url(images/pagination_left.gif) no-repeat left top;
  border: 0px;
}

.pagination .inner_pagination {
  background: url(images/pagination_right.gif) no-repeat right top;
}

/*******************************************************************************
    TICKETS
*******************************************************************************/

.common_table_list  {
border:1px solid #FFFFFF;
display:block;
list-style:none outside none;
margin:0;
padding:0;
width:100%;
}
.common_table_list.dragging {
border:1px dotted #950000;
}
.common_table_list li {
border-bottom:1px dotted #DDDDDD;
display:block;
font-size:11px;
line-height:16px;
margin:0;
overflow:hidden;
padding:6px 0 6px;
}

div.resource .common_table_list li {
display:block;
}

.common_table_list li .left_options {
	display:block;
	float:left;
}
.common_table_list li .right_options {
	display:block;
	float:right;
}
.ticket_list .common_table_list li .main_data {
	clear: both;
	display:block;
	margin:0 50x 0 0px;
	padding: 5px 0;
	font-size: 12px;
}

.tasks_table  li .main_data {
	clear: none;
	display: inline;
	padding: 3px 0 !important;
	margin: 0!important;
	font-size: 11px!important;
}
.common_table_list li .left_options .option {
padding:0 1px;
}
.common_table_list li.ui-sortable-helper {
width:100%;
}


.section_options a {
	background:	none repeat scroll 0 0 #F2F2F2;
	color:#333333;
	font-size:9px;
	font-weight:bold;
	padding:3px 5px;
}

.displayBox_overlay {
background:none repeat scroll 0 0 #000000 !important;
}

.main_data .tags 
{
	color: #999;	
}

/*******************************************************************************
  Sections
*******************************************************************************/

h2.section_name {
	width: 100%;
	min-height: 25px;
  	background: #DDDDDD;
  	background-repeat: repeat-x;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(#DDDDDD), to(#CCCCCC));
  	background-image: -moz-linear-gradient(#DDDDDD, #CCCCCC);
  	background-image: -ms-linear-gradient(#DDDDDD, #CCCCCC);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDDDDD), color-stop(100%, #CCCCCC));
  	background-image: -webkit-linear-gradient(#DDDDDD, #CCCCCC);
  	background-image: -o-linear-gradient(#DDDDDD, #CCCCCC);
  	background-image: linear-gradient(#DDDDDD, #CCCCCC);
  	border: 1px solid #ffffff;
  	border-bottom: 1px solid #eeeeee;
  	margin-top: 15px;
  	border-radius: 3px;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	-moz-border-radius-topleft: 3px;
  	-webkit-border-radius: 3px;
  	box-shadow: 0px 0px 1px #aaaaaa;
  	-moz-box-shadow: 0px 0px 1px #aaaaaa;
  	-webkit-box-shadow: 0px 0px 1px #aaaaaa;
}    

h2.section_name span.section_name_span a{
	color: #666;
}


h2.section_name span.section_name_span, h3.section_name span.section_name_span {
display:block;
padding:6px 15px 7px;
}
h2.section_name span.section_name_span_span, h3.section_name span.section_name_span_span {
float:left;
}


h2.section_name ul.section_options {
float:right;
font-size:10px!important;
list-style:none outside none;
margin:2px 0 0;
padding:0;
}
h2.section_name ul.section_options li {
margin-left:8px;
}
h2.section_name ul.options li {
display:inline;
}



.list_with_icons {
background:none repeat scroll 0 0 #FFFFFF;
list-style:none outside none;
}
.list_with_icons > li {
border-top:1px solid #ACAEB0;
clear:left;
padding:5px;
}
.list_with_icons > li:first-child {
border-top:medium none;
}
.list_with_icons > li.obj_link {
}
.list_with_icons > li.obj_link a {
background:url("../images/icons/menu_arrow.gif") no-repeat scroll right center transparent;
display:block;
font-weight:bold;
margin-right:5px;
padding:0 30px 0 0;
text-decoration:none;
}
.list_with_icons .main_line {
display:block;
line-height:40px;
}
.list_with_icons .main_line_smaller {
line-height:25px;
}
.list_with_icons .details {
color:#666666;
display:block;
font-size:12px;
font-weight:normal;
padding-left:18px;
}
.list_with_icons .no_icon .main_line {
line-height:20px;
padding-left:10px;
}
.list_with_icons .no_icon .details {
padding-left:10px;
}
.list_with_icons > li .icon {
float:left;
margin-right:7px;
}


/*******************************************************************************
    Toolbar
*******************************************************************************/

#overlay_main_menu li {
	display:inline;
	float:left;
	text-decoration:none;
}

#overlay_main_menu a  {
	-moz-border-radius:3px;
	background-position:center 5px;
	background-repeat:no-repeat;
	border:1px solid #ccc;
	color:#333;
	display:block;
	font-size:11px;
	font-weight:bold;
	margin:2px 6px 2px 0;
	padding-bottom:5px;
	padding-top:38px;
	text-align:center;
	text-decoration:none;
	width:60px;
	  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	  color: #333333;
	  border-bottom-color: #bbb;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  -webkit-grid-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	  -moz-grid-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	  grid-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	  -webkit-transition: 250ms linear all;
	  -moz-transition: 250ms linear all;
	  transition: 250ms linear all;
	
}

.icon_big_projects {
	background-image:url("../images/icons/big_projects.png");
}
.icon_big_add {
	background-image:url("../images/icons/big_add.png");
}
.icon_big_general {
	background-image:url("../images/general.gif");
}

/**********************
	labels
**********************/

.uniForm .blockLabels label {
	font-size:10px;
	font-weight:bold;
	padding-bottom:3px;
	text-align:left;
	width:100%;
}

.uniForm .blockLabels label.inline {
	font-weight:normal;
}
.uniForm .blockLabels label {
	font-size:10px;
	font-weight:bold;
	padding-bottom:3px;
	text-align:left;
	width:100%;
}



.uniForm .blockLabels label, .uniForm .blockLabels .label {
	display:block;
	float:none;
	line-height:100%;
	margin:0.3em 0;
	padding:0;
	width:auto;
}

label.inline {
display:inline !important;
}

input.inline {
	padding:0 !important;
	width:auto !important;
}

.inline {
	display:inline;
	width:auto;
}


/********************************
	VIEW TICKETS
********************************/

.main_object .properties {
font-size:95%;
margin:0;
padding:0;
}
.main_object .properties dt {
color:#666666;
float:left;
line-height:24px;
padding-left:5px;
width:145px;
}
.main_object .properties {
padding-right:2px;
padding-top:1px;
}
.main_object .properties dd {
background:none repeat scroll 0 0 #F9F9F9;
border-bottom:1px solid #F1F1F1;
line-height:24px;
margin:1px 0 2px;
padding-left:150px;
}
.main_object .properties dd.wrapable {
line-height:130%;
padding-bottom:4px;
padding-top:4px;
}
.object_options li {
	display:block !important;
	margin-bottom:4px;
	width: 19%;
	float: left;
	margin-left: 2px;
	min-width: 100px;
	
}

.object_options a {
	background:none repeat scroll 0 0 #EEEEEE;
	display:block;
	font-size:11px;
	padding: 2px;
	text-decoration:none;
}




/***********************
	OVERLAY
************************/

.ui-widget-overlay {
background:none repeat scroll 0 0 transparent !important;
filter:none !important;
opacity:1;
}
.ui-widget-shadow {
-moz-border-radius:8px 8px 8px 8px;
margin:-8px 0 0 -8px;
opacity:0.3;
padding:8px;
border: 1px solid #333;
}

.ui-dialog {
background:none repeat scroll 0 0 transparent !important;
border: 1px solid  #aaa !important;
font-size:12px;
padding:0 !important;
text-align:left;
}


.ui-dialog .ui-dialog-titlebar {
    background: none repeat scroll 0 0 #E4E8ED;
    border-bottom: 1px solid #CED6E1;
    border-radius: 0 0 0 0;
    padding: 8px 5px !important;
    position: relative;
    height: 12px;
}

.ui-dialog .ui-dialog-title {
float:left;
font-weight:bold;
margin-left:5px;
}
.ui-dialog .ui-dialog-titlebar-close {
height:18px;
margin:-10px 0 0;
padding:1px;
position:absolute;
right:0.3em;
top:50%;
width:19px;
}
.ui-dialog .ui-dialog-titlebar-close span {
display:block;
margin:1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
background:none repeat scroll 0 0 #FFFFFF;
}
.ui-dialog .ui-dialog-content {
background:none repeat scroll 0 0 #FFFFFF;
border:0 none;
margin:0;
overflow:auto;
padding:10px 15px 15px;
}
.ui-dialog .ui-dialog-buttonpane {
background:none repeat scroll 0 0 #FFFFFF;
border-width:0 0 0;
overflow:hidden;
padding:10px;
position:static !important;
text-align:left;
}


.ui-draggable .ui-dialog-titlebar {
	cursor:move;
}

.ui-helper-clearfix {
	display:block;
}

.ui-widget-header .ui-icon {
    background-image: url("../images/jquery.ui/ui-icons_222222_256x240.png");
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

/**
*	Tickets changes
*/


#ticket_changes  {
margin-top:2px !important;
}
#ticket_changes ul {
list-style:circle outside none !important;
padding-left:0 !important;
}
#ticket_changes ul li {
display:list-item !important;
}
#ticket_changes .ticket_change {
font-size:10px;
line-height:150%;
margin:3px 0 10px;
}
#ticket_changes .ticket_change h3 {
font-size:10px;
}
#ticket_changes .ticket_change ul {
color:#666666;
margin-left:20px;
}
#show_all_ticket_changes {
margin-top:16px;
text-align:center;
}
#show_all_ticket_changes a {
background:url("images/hourglass-small.gif") no-repeat scroll left center transparent;
padding:3px 0 3px 20px;
}

#page_header h1 {
	font-size:12px;
	margin:0;
}
#page_header h1#page_title {
	color: #000000;
    font-family: "proxima nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -0.05em;
    font-size: 22px;
    font-weight: 400;
}

h2.page_title {
	color: #000000;
    font-family: "proxima nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -0.05em;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0;
}

#page_header h1#page_title span {
	display:none;
}

#breadcrumbs  {
background:url("images/breadcrumbs.gif") repeat-x scroll left top transparent;
color:#999999;
}
#breadcrumbs {
	clear:both;
	display:block;
	font-size:10px;
	list-style:none outside none;
	margin:0;
	padding: 0;
	line-height: 20px;
}

#breadcrumbs li {
	color:#DDDDDD;
}
#breadcrumbs li {
	display:block;
	float:left;
	margin:4px 0 0;
	padding:0 6px 0 0;
}
#breadcrumbs li a{
	color: #DDDDDD;
}
.50fl 
{
	float: left;
	width: 40%;
}

#commentBody {
	max-width: 320px;
}


/**
	Comments
*/

.subobject_permalink:hover {
text-decoration:none;
}
.subobject_author {
border-bottom:1px solid #EEEEEE;
padding-bottom:5px;
}
.subobject_author .avatar {
display:block;
float:left;
margin-top:2px;
width:45px;
}
.subobject_author .avatar img {
line-height:80px;
}
.subobject_author .subobject_author_info {
line-height:140%;
margin-left:50px;
padding:4px 0 5px;
}
.subobject_author .subobject_author_info a {
font-weight:bold;
}
.subobject_author .subobject_author_info .subobject_date {
color:#666666;
font-size:11px;
}
.subobject .content {
font-size:12px;
line-height:150%;
margin-bottom:4px;
margin-top:8px;
}

div.resource ul li {
display:inline;
}

.comment_options {
float:right;
margin-top:10px !important;
}
.comment_options a {
margin-top:2px;
}
.comment_options .comment_options_first {
color:#999999;
font-size:11px;
margin-top:1px;
padding-right:10px;
position:relative;
top:-4px;
}

/**
category list

*/
.category_list {
border-left:1px solid #D6D6D6;
float:left;
list-style:none outside none;
margin:10px 0 0 -1px;
padding:0;
width:100%;
}
.category_list li {

}

.category_list a {
background:none repeat scroll 0 0 #EEEEEE;
display:block;
font-size:11px;
font-weight:bold;
text-align:right;
width:100%;
}

.category_list a {
background:url("images/categories_tab_top.gif") no-repeat scroll right top transparent;
color:#666666;
}

.category_list a span {
display:block;
padding:	4px 10px;
}
.category_list .selected a {
	background:none repeat scroll 0 0 #F7F7F7;
	border-color:#D7D7D7 #D7D7D7 #D7D7D7 #FFFFFF;
	border-style:solid;
	border-width:1px;
	margin-left:-1px;
}

.additional a span {
}

.additional a {
    background: url("../images/menu_dropdown.gif") no-repeat scroll center center transparent;
    display: block;
    margin-top: 13px;
    width: 14px!important;
    height: 14px;
}


.dirty {
	border: 1px solid red !important;
	backround: red;
}

#subnav {
	background: #5BC0DE;
  	background-repeat: repeat-x;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(#5BC0DE), to(#339BB9));
  	background-image: -moz-linear-gradient(#5BC0DE, #339BB9);
  	background-image: -ms-linear-gradient(#5BC0DE, #339BB9);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5BC0DE), color-stop(100%, #339BB9));
  	background-image: -webkit-linear-gradient(#5BC0DE, #339BB9);
  	background-image: -o-linear-gradient(#5BC0DE, #339BB9);
  	background-image: linear-gradient(#5BC0DE, #339BB9);
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 0 0 1px #AAAAAA;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    /*margin-top: 3px;*/
}

#subnav a {
    color: #FFFFFF;
    padding-right: 22px;
    text-decoration: none;
    text-rendering: optimizelegibility;
}
#subnav a#_checklists,
#subnav a#_pages {
	padding-right: 5px;
}

/**
*
*	MILESTONES
*
*/

.details a {
color: #666 !important;
}

.details {
  font-size: 11px;
}


#milestones td {
  padding: 5px;
}

#milestones td a {
  color: #950000;
}

#milestones td.star, #milestones td.priority {
  padding-left: 6px;
  padding-right: 6px;
}

#milestones td.star {
  width: 16px;
}

#milestones td.priority {
  width: 14px;
}

#milestones td.date {
  width: 180px;
  text-align: center;
}

#milestones td.date, #milestones td.due {
  font-size: 11px;
}

#milestones td.due {
  width: 100px;
  text-align: right;
}

#milestones tr.late td.due {
  color: red;
}

#milestones tr.upcoming td.due {
  color: green;
}


/*******************************************************************************
  Milestones - Common Table
*******************************************************************************/
.common_table {
  border-top: 1px dotted #ddd !important;
  width: 100% !important;
  font-size: 11px;
}

.common_table td {
  padding: 5px;
  border-bottom: 1px dotted #ddd;
  vertical-align: top;
}

.common_table th {
  border-bottom: 1px solid #CCCCCC;
}

.common_table td.drag_handle {
  padding-top: 6px;
  width: 16px;
  padding: 6px 5px 5px;
  display: none;
}

.common_table td.drag_handle img {
  cursor: move;
  opacity : 0.5;
  -moz-opacity : 0.5;
  -webkit-opacity : 0.5;
}

.common_table td.drag_handle img:hover {
  opacity : 1;
  -moz-opacity : 1;
  -webkit-opacity : 1;
}

.common_table td.options {
  text-align: right;
  width: 80px;
  padding: 3px 5px;
}

.common_table td.avatar {
  width: 16px;
}

.common_table tfoot {
 border-top: 1px solid #CCCCCC;
}

.common_table tfoot th {
  background: #eee;
}

.common_table td.star, .common_table td.priority {
  width: 16px;
}

.common_table td.project,
.common_table th.project {
  width: 150px;
}

.common_table th.checkbox,
.common_table td.checkbox {
  width: 16px;
  text-align: center;
}

.common_table td.icon_big {
  width: 32px;
}

.common_table td.icon_medium {
  width: 24px;
}

.common_table td.icon_small {
  width: 16px;
}

.common_table_list td.star {
  padding: 3px 3px 2px !important;
}

.common_table_list td.priority {
  padding: 3px 3px 2px !important;
}
/*
.common_table_list.open_tasks_table li,
.common_table_list.open_tasks_table li .main_data,
.common_table_list.tickets_list li,
.common_table_list.tickets_list li .main_data {
  cursor: move;
}
*/
.common_table_list.open_tasks_table li,
.common_table_list.tickets_list li .ticket_id
{
  cursor: move;
}

.common_table_list .empty_row {
  font-size: 11px;
  color: #666;
  padding-bottom: 5px
}


/**
Edit ticket
*/

.form_right_col {
	width: 200px;
	border-left: 1px solid #F1F1F1;
	padding-left: 15px;
	float: left;
	font-size: 11px;
	margin-left: -1px;
}

.form_left_col {
	width: 270px;
	float: left;
	padding-right: 1.5%;
	padding-top: 7px;
}




#page_header h1 {
	margin: 0px;
	font-size: 14px;
}

#page_header h1#page_title {
  font-weight: bold;
}

.page_info_container
{	
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*
	tasks
*/

.task .tools,
.pomodoro,
.task_link
{
	float: right;
	margin-left: 5px;
}

.new_task .main_object .resource.object_tasks
{
	display: block!important;
}


.add_task_form {
  border-left: 1px dotted #ddd;
  border-right: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
  padding: 0px 0px 0px;
  background: #f5f4dd;
}

.add_task_form .form_left_col {
  margin-bottom: 10px;
}


.add_task_form .form_right_col {
  padding-left: 0px;
  margin-bottom: 10px;
}

.add_task_form .buttonHolder {
	border-top: 1px solid #CCC !important;
}

a.additional_form_links {
	font-size: 11px;
	color: #666;
	text-decoration: underline;
}

a.button_add {
	background: #CCC;
	padding: 4px 10px 4px 10px;
	color: #333;
	font-weight: bold;
	font-size: 11px;
	float: left;
}

.uniForm .buttonHolder {
	overflow: hidden;
	clear: both;
}

.buttonHolder .text_button {
	font-weight: bold;
	color: #333;
	font-size: 11px;
	margin: 4px 5px 0px;
	margin: 4px 5px 0px;
	float: left;
}

/*******************************************************************************
  Sortable list
*******************************************************************************/
.tasks_table li .main_data {
  margin: 0px 100px 0px 70px;
}

.sort_form .blockLabels {
  padding: 2px 1px 1px 1px!important;
}

/** Completed **/

.completed_tasks_table {
  color: #bbb;
  border: 0px !important;
  margin-top: 15px !important;
  clear: left;
}

.completed_tasks_table li .details {
  color: #bbb;
}

.completed_tasks_table li .details a {
  color: #aaa !important;
}

.completed_tasks_table li {
  border: 0px !important;
  padding: 0px 5px !important;
  background: none !important;
}

.completed_tasks_table li a{
  text-decoration: none;
}

.completed_tasks_table li .main_data {
  margin-left: 24px;
}

.completed_tasks_table li.list_all_completed {
  text-align: center;
  height: 16px;
}


/** Tasks form **/

.uniForm .ctrlHolder {
	margin: 3px 0;
	padding: 7px 0px;
	line-height: 140%;
}

.uniForm .col {
	width: 46%;
	margin: 0 2px 0 0;
}


/** Tickets **/

.left_options,
.right_options
{
	vertical-align: absmiddle;
}

.option img {
	border: 0px;
	vertical-align: middle;
}

/*******************************************************************************
  Page actions
*******************************************************************************/


.page_info_container #page_actions {
  float: right;
  margin: 0px;
  padding: 0px;
}

.page_info_container #page_actions li {
  display: inline;
  float: left;
  margin: 0px;
  position: relative;
}


.page_info_container #page_actions a {
  background: #f1f1f1;
  height: 18px;
  vertical-align: middle;
  display: block;
  text-decoration: none;
  font-size: 11px !important;
  color: #333;
  float: left;
  border: 1px solid #ccc;
  border-right: 0px;
  cursor: pointer;
}

.page_info_container #page_actions a span {
  padding: 2px 10px 2px;
  height: 12px;
  display: block;
  float: left;
  overflow: hidden;
}


.page_info_container #page_actions li.first a span {
  padding-left: 13px;
}


.page_info_container #page_actions li.last a {
  border-right: 1px solid #ccc;
}

.page_info_container #page_actions li.last a span {
  padding-right: 13px;
}

.page_info_container #page_actions li.last a:hover {
  background-position: right bottom;
}

.page_info_container #page_actions li.single a {
  margin-left: 10px;
  border-right: 1px solid #ccc;
}

#page_actions .with_subitems ul {
  display: none;
  position: absolute;
  right: 0px;
  top: 20px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: 1px solid #e0e0e0;
  border-top: 0;
  z-index: 10000;
  background: #fcfcfc;
  
}

#page_actions .with_subitems.hover ul {
  display: block;
 
}

#page_actions .with_subitems ul li {
  display: block;
  float: none !important;
 
}

#page_actions .with_subitems ul a {
  background: none !important;
  display: block;
  width: 150px;
  font-size: 10px;
  padding: 3px 7px !important;
  float: none !important;
  height: auto !important;
  line-height: 19px !important;
  border: 0px !important;
  margin-left: 0px !important;
}

#page_actions .with_subitems ul a:hover {
  background: #ddd !important;
}


/*******************************************************************************
  Object visibility
*******************************************************************************/

#object_visibility_details dl {
  border: 1px solid #e8e8e8;
  background: url('images/normal.gif') no-repeat 8px 8px;
  padding: 4px;
}


/** Details list **/

dl.details_list {
  font-size: 11px;
  color: #333;
}

dl.details_list dt {
  clear: left;
}

dl.details_list dt, dl.details_list dd {
  padding: 3px 0;
}

dl.details_list dt {
  float: left;
  width: 90px;
  text-align: right;
  color: #999;
}

dl.details_list dd {
  margin-left: 110px;
}

dl.details_list dd.light a, dl.details_list dd.light a:hover {
  color: #666;
  text-decoration: underline;
}

#loading {
	position:fixed;
	 top: 0px;
	 left: 0 ;
	 background: #DCE9CB;
	 padding: 5px;
	 z-index:999999;
	 font-weight: bold;
}

/**********************
	Empty page
**********************/

#dashboard .empty_slate {
  padding-right: 0px;
}

.empty_slate.with_sidebar .empty_slate_content {
  padding-right: 16px;
  width: 550px;
  float: left;
}

.empty_slate.with_sidebar .empty_slate_sidebar {
  padding-top: 30px;
  width: 290px;
  overflow: hidden;
  float: right;
}

.empty_slate p.empty_slate_footer {
  text-align: center;
  clear: both;
  border-top: 1px solid #eede9c;
  padding-top: 15px;
}

.empty_slate p.empty_slate_section_intro {
  border-bottom: 2px dotted #eede9c;
  padding-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.empty_slate h3 {
  margin-bottom: 8px !important;
  font-size: 15px !important;
  font-weight: bold;
  text-align: center;
}

.empty_slate ul.icon_list {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 10px;
}

.empty_slate ul.icon_list li {
  padding: 12px 0;
}

.empty_slate ul.icon_list li img.icon_list_icon {
  float: left;
}

.empty_slate ul.icon_list li a.icon_list_link, .empty_slate ul.icon_list li span.icon_list_title {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-left: 48px;
}

.empty_slate ul.icon_list li span.icon_list_description {
  display: block;
  margin: 4px 0 0 48px;
  font-size: 11px;
  color: #666;
}

.empty_slate ul.icon_list li ol {
  margin: 8px 0;
}

.empty_slate ul.icon_list li ol li {
  padding: 0 0 0 8px !important;
  margin: 4px 0 !important;
}

.empty_slate ul.icon_list li ol li strong {
  color: #333;
}

.empty_slate ul.icon_list pre {
  margin: 8px 0;
  padding: 4px 10px;
  background: #fff;
  border: 1px dotted #EEDE9C;
  line-height: 150%;
}

#list_checklists 
{
	background: #ECFAFA;
}
#list_checklists .common_table_list li {
	padding: 0;
}
.list_checklists h2.section_name {
	display: none;
}

.list_checklists {
	padding-bottom: 4px;
}


#dashboard 
{
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/** File: modules/pages/stylesheets/main.css **/

#pages h3 {
  margin: 8px 0;
}

#pages table td {
  padding: 5px;
}

#pages table td.star {
  width: 16px;
}

#pages table td.age {
  width: 200px;
  text-align: right;
}

#pages table td.visibility {
  width: 16px;
}

/*******************************************************************************
  Category pages
*******************************************************************************/

table.pages_tree td {
  padding: 5px;
}

table.pages_tree td.star {
  width: 16px;
}

table.pages_tree td.name span.indent {
  margin-right: 5px;
  color: #ccc;
}

table.pages_tree td.name del a {
  color: #999;
}

table.pages_tree td.age {
  width: 200px;
  text-align: right;
}

table.pages_tree td.visibility {
  width: 16px;
}


.ticket_id
{
	color: #BBBBBB;
}

.common_table_list li .sub_data
{
 	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-transition: all 250ms linear 0s;
	background-color: #DEF5FC;
	background-repeat: no-repeat;
	border-color: #9DE0F5 #9DE0F5 #89C9DE;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	line-height: 15px;
	padding: 2px 5px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.loaded .section_name
{
	display: none;
}

.tickets_list .loaded 
{
	border-left: 10px solid #efefef;
}


.loaded .form_left_col {
	width: 238px;
}

.loaded input[type=text],
.loaded #ticketBody,
.loaded textarea
{
	width: 215px!important;
}

.loaded .ticket 
{
	margin-left: 5px;
}
