

* {
	margin: 0px;
	padding: 0px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

body {
	background: #FFF;
	text-align: center;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #333;
	padding: 5px 0px;
}

a {
    -moz-border-radius: 2px 2px 2px 2px;
    background-repeat: no-repeat;
    color: #1A6A96;
    text-decoration: none;
}

a:active {
    background-color: #A3C3D5;
    color: #000000;
}

img {
	border: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.odd > td, li.odd {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px dotted #DDDDDD;
}
.even > td, li.even {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px dotted #DDDDDD;
}
div.odd {
    border-bottom: 1px dotted #BBBBBB;
}
div.even {
    background-color: #FAFAFA;
    border-bottom: 1px dotted #BBBBBB;
}

div.ui-dialog 
{
	margin-top: 30px;
}

.quick_jump table td {
    padding: 5px;
}

#wrapper {
	margin:  0px auto;
	text-align: left;
	max-width: 320px;
}

#footer {
	text-align: center;
	border-top: 2px solid #ddd;
	padding-top: 10px;
}

#footer #benchmark {
	margin-top:  10px;
}

#header h1 {
	font-size: 17px;
	color: #646F7D;
	text-align: left !important;
	padding: 5px 5px;	
}
.content {
	line-height:150%;
	margin:16px 0;
}
.notice {
	text-align: center;
	padding: 15px 0px;
}

form {
	padding: 5px 8px;
}

.clear {
	clear: both;
}

.block {
	display:block;
}

.col {
	width: 100px;
	float: left;
	padding: 0px 20px 0px 0px;
}

form .ctrlHolder {
	padding: 0px 0px 10px 0px;
}

form .ctrlHolder label {
	display: block;
	padding-bottom: 3px;
}

form .ctrlHolder .errorField {
	float: right;
	font-weight: normal !important;
	color: red;
	font-size: 10px;
}

form .ctrlHolder .errorField strong {
	font-weight: normal !important;
}

form .ctrlHolder label em {
	color: red;
}

form .ctrlHolder .details {
	color: #999;
	font-size: 11px;
	padding-top: 5px;
}

.content_container {
	margin-top: 3px;
}

.mceEditorIframe {
	background: #FFF;
}

.mceToolbarContainer,
.mceStatusbarBottom {
	background-color: transparent !important;
}

.mceStatusbarBottom br {
	display: none;
}

input, select {
	border: 1px solid #ccc;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	padding: 3px 5px;
	width: 250px;
}

select {
	padding: 1px;
}

.error input,
.error select,
.error textarea,
.error .mceEditorIframe {
	background: #fee8eb;
}

#errorMsg {
	background: #fee8eb;
	border: 1px solid #CF4454;
	padding: 5px 10px;
	margin-bottom: 10px;
	font-size: 11px;
}

#errorMsg ol {
	margin-top: 5px;
	margin-left: 15px;
	padding-left: 15px;
}

body:first-of-type input[type=file] {
	border: none;
}

.ticket_data,
.buttonHolder {
	border-top: 1px solid #eee;
	padding-top: 15px;
	margin-top: 10px;
}

.ticket_data input {
	width: 250px;
}

.focused input,
.focused selected {
	border: 1px solid #555;
}

textarea#fast_add_name  {
	width: 240px;
	padding: 3px 5px;
	height: 20px;
}

textarea.editor, #ticketBody  {
	height:100px;
	/*width:98% !important;*/
	width: 260px !important;
}



.ticket_data textarea {
	width: 250px;
	padding: 3px 5px;
	height: 100px;
}

.buttonHolder button {
	padding: 4px 15px;
}

span.captcha img.captcha {
  border: 1px solid #ccc;
  float: left;
  margin-right: 10px;
}

span.captcha input {
  margin-top: 5px;
  width: 50px;
}

      
.flash {
	cursor:pointer;
	display:block;
	font-size:11px;
	font-weight:bold;
	overflow:hidden;
	padding: 10px !important;
	margin: 10px 0;
}

#success {
	background: #DFEDE0;
	border: 1px solid #207A29;
	color: #207A29;
}

a.dp-choose-date {
	background:transparent url(../images/calendar.png) no-repeat scroll 0 0!important;
}

.select_date {
	clear: both!important;
}

#fast_add_ticket_body{
	height:100px;
	width:250px !important;
}

#priority {
	width: 100px;
}

#ticketDueOn {
	width: 80px!important;
	float: left;
}

a.dp-choose-date {
	float: right!important;
}
.wide {
	width: 120px!important;
}





div.grippie {
	background:#EEEEEE url(../images/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
	}
	.resizable-textarea textarea {
	display:block;
	margin-bottom:0pt;
}


.select_asignees_inline_widget {
}
.select_asignees_inline_widget_responsible_block {
font-size:10px;
padding:0;
top:-20px;
}
.select_asignees_inline_widget .company_name {
background:#F9F9F9 none repeat scroll 0 0;
border-bottom:1px dotted #F1F1F1;
font-size:11px !important;
font-weight:normal !important;
padding-top:2px !important;
}
.select_asignees_inline_widget .company_user {
color:#666666 !important;
display:inline !important;
font-size:10px;
font-weight:normal !important;
margin-right:10px !important;
}
.select_asignees_inline_widget .company_users {
overflow:hidden;
padding:0 0 3px;
}
.select_asignees_inline_widget .company_users table {
margin-left:16px;
width:auto !important;
}
.select_asignees_inline_widget input {
margin:0 !important;
vertical-align:text-bottom;
}
.select_asignees_inline_widget .company_name input {
margin-right:3px !important;
}
.select_asignees_inline_widget .company_user span.responsible_setter {
cursor:pointer;
}
.select_asignees_inline_widget .company_user span, .select_asignees_inline_widget .company_name span {
margin-left:0;
padding:1px 2px;
}
.select_asignees_inline_widget .company_user span.responsible {
background:#CCCCCC none repeat scroll 0 0;
}

.master_checkbox, .slave_checkbox, .checkbox input, input.input_checkbox, input.input_radio {
	background:transparent none repeat scroll 0 0;
	border:0 none !important;
	margin:0 !important;
	padding:0 !important;
	vertical-align:text-bottom;
	width:auto !important;
}



/*******************************************************************************
  Sections
*******************************************************************************/

h2.section_name {
  background: url(images/section_start.gif) no-repeat left top;
  border: 0px;
}

h2.section_name span.section_name_span {
  background: url(images/section_end.gif) no-repeat right top; 
color:white;
  padding: 8px 15px 9px;
}

h2.section_name span.section_name_span a{
color:white;
 
}

/*******************************************************************************
    PAGINATION
*******************************************************************************/

.pagination {
  background: url(images/pagination_left.gif) no-repeat left top;
  border: 0px;
}

.pagination .inner_pagination {
  background: url(images/pagination_right.gif) no-repeat right top;
}

/*******************************************************************************
    TICKETS
*******************************************************************************/

.common_table_list  {
border:1px solid #FFFFFF;
display:block;
list-style:none outside none;
margin:0;
padding:0;
width:100%;
}
.common_table_list.dragging {
border:1px dotted #950000;
}
.common_table_list li {
border-bottom:1px dotted #DDDDDD;
display:block;
font-size:11px;
line-height:16px;
margin:0;
overflow:hidden;
padding:4px 0 0;
}
div.resource .common_table_list li {
display:block;
}
.common_table_list li .left_options {
display:block;
float:left;
}
.common_table_list li .right_options {
display:block;
float:right;
}
.common_table_list li .main_data {
clear: both;
display:block;
margin:0 50x 0 0px;
padding:0 0 5px 3px ;
}
.common_table_list li .left_options .option {
padding:0 1px;
}
.common_table_list li.ui-sortable-helper {
width:100%;
}


.section_options a {
background:none repeat scroll 0 0 #CCCCCC;
color:#333333;
font-size:9px;
font-weight:bold;
padding:3px 5px;
}

.displayBox_overlay {
background:none repeat scroll 0 0 #000000 !important;
}
h2.section_name, h3.section_name {
	/*
	background:none repeat scroll 0 0 #BBB;
	border:1px solid #D1D0D0;
	*/
	font-size:13px;
	font-weight:bold;
	overflow:hidden;
	 background: url("../images/paginator.gif") repeat-x scroll left top #646F7D;
    border-bottom: 4px solid #CCCCCC;
    padding: 3px 0;
}
h2.section_name span.section_name_span, h3.section_name span.section_name_span {
display:block;
padding:6px 15px 7px;
}
h2.section_name span.section_name_span_span, h3.section_name span.section_name_span_span {
float:left;
}
h2.section_name ul.section_options {
float:right;
font-size:10px;
list-style:none outside none;
margin:2px 0 0;
padding:0;
}
h2.section_name ul.section_options li {
margin-left:8px;
}
h2.section_name ul.options li {
display:inline;
}



.list_with_icons {
background:none repeat scroll 0 0 #FFFFFF;
list-style:none outside none;
}
.list_with_icons > li {
border-top:1px solid #ACAEB0;
clear:left;
padding:5px;
}
.list_with_icons > li:first-child {
border-top:medium none;
}
.list_with_icons > li.obj_link {
}
.list_with_icons > li.obj_link a {
background:url("../images/icons/menu_arrow.gif") no-repeat scroll right center transparent;
display:block;
font-weight:bold;
margin-right:5px;
padding:0 30px 0 0;
text-decoration:none;
}
.list_with_icons .main_line {
display:block;
line-height:40px;
}
.list_with_icons .main_line_smaller {
line-height:25px;
}
.list_with_icons .details {
color:#666666;
display:block;
font-size:12px;
font-weight:normal;
padding-left:18px;
}
.list_with_icons .no_icon .main_line {
line-height:20px;
padding-left:10px;
}
.list_with_icons .no_icon .details {
padding-left:10px;
}
.list_with_icons > li .icon {
float:left;
margin-right:7px;
}


/*******************************************************************************
    Toolbar
*******************************************************************************/

#overlay_main_menu li {
display:inline;
float:left;
text-decoration:none;
}

#overlay_main_menu a  {
	-moz-border-radius:3px;
	background-position:center 5px;
	background-repeat:no-repeat;
	border:1px solid #ccc;
	color:#333;
	display:block;
	font-size:11px;
	font-weight:bold;
	margin:2px 3px;
	padding-bottom:5px;
	padding-top:38px;
	text-align:center;
	text-decoration:none;
	width:60px;
}

.icon_big_projects {
	background-image:url("../images/icons/big_projects.png");
}
.icon_big_add {
	background-image:url("../images/icons/big_add.png");
}
.icon_big_general {
	background-image:url("../images/general.gif");
}

/**********************
	labels
**********************/

.uniForm .blockLabels label {
	font-size:10px;
	font-weight:bold;
	padding-bottom:3px;
	text-align:left;
	width:100%;
}

.uniForm .blockLabels label.inline {
	font-weight:normal;
}
.uniForm .blockLabels label {
	font-size:10px;
	font-weight:bold;
	padding-bottom:3px;
	text-align:left;
	width:100%;
}



.uniForm .blockLabels label, .uniForm .blockLabels .label {
	display:block;
	float:none;
	line-height:100%;
	margin:0.3em 0;
	padding:0;
	width:auto;
}

label.inline {
display:inline !important;
}

input.inline {
	padding:0 !important;
	width:auto !important;
}

.inline {
	display:inline;
	width:auto;
}


/********************************
	VIEW TICKETS
********************************/

.main_object .properties {
font-size:95%;
margin:0;
padding:0;
}
.main_object .properties dt {
color:#666666;
float:left;
line-height:24px;
padding-left:5px;
width:145px;
}
.main_object .properties {
padding-right:2px;
padding-top:1px;
}
.main_object .properties dd {
background:none repeat scroll 0 0 #F9F9F9;
border-bottom:1px solid #F1F1F1;
line-height:24px;
margin:1px 0 2px;
padding-left:150px;
}
.main_object .properties dd.wrapable {
line-height:130%;
padding-bottom:4px;
padding-top:4px;
}
.object_options li {
	display:block !important;
	margin-bottom:4px;
	/*width: 49%;
	float: left;
	margin-left: 2px;
	*/
}

.object_options a {
	background:none repeat scroll 0 0 #EEEEEE;
	display:block;
	font-size:11px;
	padding: 2px;
	text-decoration:none;
}




/***********************
	OVERLAY
************************/

.ui-widget-overlay {
background:none repeat scroll 0 0 transparent !important;
filter:none !important;
opacity:1;
}
.ui-widget-shadow {
-moz-border-radius:8px 8px 8px 8px;
margin:-8px 0 0 -8px;
opacity:0.3;
padding:8px;
border: 1px solid #333;
}

.ui-dialog {
background:none repeat scroll 0 0 transparent !important;
border: 1px solid  #aaa !important;
font-size:12px;
padding:0 !important;
text-align:left;
}


.ui-dialog .ui-dialog-titlebar {
    background: none repeat scroll 0 0 #E4E8ED;
    border-bottom: 1px solid #CED6E1;
    border-radius: 0 0 0 0;
    padding: 8px 5px !important;
    position: relative;
    height: 12px;
}

.ui-dialog .ui-dialog-title {
float:left;
font-weight:bold;
margin-left:5px;
}
.ui-dialog .ui-dialog-titlebar-close {
height:18px;
margin:-10px 0 0;
padding:1px;
position:absolute;
right:0.3em;
top:50%;
width:19px;
}
.ui-dialog .ui-dialog-titlebar-close span {
display:block;
margin:1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
background:none repeat scroll 0 0 #FFFFFF;
}
.ui-dialog .ui-dialog-content {
background:none repeat scroll 0 0 #FFFFFF;
border:0 none;
margin:0;
overflow:auto;
padding:10px 15px 15px;
}
.ui-dialog .ui-dialog-buttonpane {
background:none repeat scroll 0 0 #FFFFFF;
border-width:0 0 0;
overflow:hidden;
padding:10px;
position:static !important;
text-align:left;
}


.ui-draggable .ui-dialog-titlebar {
cursor:move;
}

.ui-helper-clearfix {
	display:block;
}

.ui-widget-header .ui-icon {
    background-image: url("../images/jquery.ui/ui-icons_222222_256x240.png");
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

/**
*	Tickets changes
*/


#ticket_changes  {
margin-top:2px !important;
}
#ticket_changes ul {
list-style:circle outside none !important;
padding-left:0 !important;
}
#ticket_changes ul li {
display:list-item !important;
}
#ticket_changes .ticket_change {
font-size:10px;
line-height:150%;
margin:3px 0 10px;
}
#ticket_changes .ticket_change h3 {
font-size:10px;
}
#ticket_changes .ticket_change ul {
color:#666666;
margin-left:20px;
}
#show_all_ticket_changes {
margin-top:16px;
text-align:center;
}
#show_all_ticket_changes a {
background:url("images/hourglass-small.gif") no-repeat scroll left center transparent;
padding:3px 0 3px 20px;
}

#page_header h1 {
font-size:12px;
margin:0;
}
#page_header h1#page_title {
	font-weight:bold;
}
#page_header h1#page_title span {
	display:none;
}

#breadcrumbs  {
background:url("images/breadcrumbs.gif") repeat-x scroll left top transparent;
color:#999999;
}
#breadcrumbs {
	clear:both;
	display:block;
	font-size:10px;
	height:40px;
	list-style:none outside none;
	margin:0;
	padding: 0;
}

#breadcrumbs li {
	color:#BBBBBB;
}
#breadcrumbs li {
	display:block;
	float:left;
	margin:4px 0 0;
	padding:0 6px 0 0;
}

.50fl 
{
	float: left;
	width: 40%;
}

#commentBody {
	max-width: 320px;
}


/**
	Comments
*/

.subobject_permalink:hover {
text-decoration:none;
}
.subobject_author {
border-bottom:1px solid #EEEEEE;
padding-bottom:5px;
}
.subobject_author .avatar {
display:block;
float:left;
margin-top:2px;
width:45px;
}
.subobject_author .avatar img {
line-height:80px;
}
.subobject_author .subobject_author_info {
line-height:140%;
margin-left:50px;
padding:4px 0 5px;
}
.subobject_author .subobject_author_info a {
font-weight:bold;
}
.subobject_author .subobject_author_info .subobject_date {
color:#666666;
font-size:11px;
}
.subobject .content {
font-size:12px;
line-height:150%;
margin-bottom:4px;
margin-top:8px;
}

div.resource ul li {
display:inline;
}

.comment_options {
float:right;
margin-top:10px !important;
}
.comment_options a {
margin-top:2px;
}
.comment_options .comment_options_first {
color:#999999;
font-size:11px;
margin-top:1px;
padding-right:10px;
position:relative;
top:-4px;
}

/**
category list

*/
.category_list {
border-left:1px solid #D6D6D6;
float:left;
list-style:none outside none;
margin:10px 0 0 -1px;
padding:0;
width:100%;
}
.category_list li {

}

.category_list a {
background:none repeat scroll 0 0 #EEEEEE;
display:block;
font-size:11px;
font-weight:bold;
text-align:right;
width:100%;
}

.category_list a {
background:url("images/categories_tab_top.gif") no-repeat scroll right top transparent;
color:#666666;
}

.category_list a span {
display:block;
padding:	4px 10px;
}
.category_list .selected a {
background:none repeat scroll 0 0 #FFFFFF;
border-color:#D7D7D7 #D7D7D7 #D7D7D7 #FFFFFF;
border-style:solid;
border-width:1px;
margin-left:-1px;
}

.additional a span {
}

.additional a {
    background: url("../images/menu_dropdown.gif") no-repeat scroll center center transparent;
    display: block;
    margin-top: 13px;
    width: 14px!important;
    height: 14px;
}